# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Alembic cache
alembic/__pycache__/
alembic/versions/__pycache__/